@model PhoneStore.Models.User


<style>
    .MegaButton {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .MegaButton:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .MegaButton:active {
        transform: translateY(-1px);
    }

    .input {
        max-width: 190px;
        height: 30px;
        border: 2px solid transparent;
        outline: none;
        border-bottom: 2px solid #3f3f3f;
        caret-color: #3f3f3f;
        background-color: #212121;
        padding: 5px;
        transition: .5s linear;
        font-family: monospace;
        letter-spacing: 1px;
    }

    .input:focus {
         border: 2px solid #fa4753;
         caret-color: #fa4753;
         color: #fa4753;
         box-shadow: 4px 4px 10px #070707;
    }

    .input:focus::placeholder {
        color: #fa4753;
    }

</style>

<div asp-validation-summary="ModelOnly"></div>
<div style="display:flex;justify-content:center; margin-top:100px">
    <form method="post" asp-action="Create" asp-controller="Home">
        <input placeholder="Name" class="input" name="FirstName" type="text" input asp-for="FirstName" /><span asp-validation-for="FirstName"></span><br /><br />
        <input placeholder="Last Name" class="input" name="LastName" type="text" input asp-for="LastName" /><span asp-validation-for="LastName"></span><br /><br />
        <input placeholder="Email" class="input" name="Email" type="text" input asp-for="Email" /><span asp-validation-for="Email"></span><br /><br />
        <input placeholder="Age" class="input" name="Age" type="text" input asp-for="Age" /><span asp-validation-for="Age"></span><br /><br />
        <input placeholder="Phone" class="input" name="Phone" type="text" input asp-for="Phone" /><span asp-validation-for="Phone"></span><br /><br />

        <br /><br />
        <div style="display:flex; justify-content:center"><div><input type="submit" value="submit"  class="MegaButton"></div></div>
    </form>
</div>
